<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :dogovor %><br />
  <%= f.text_field :dogovor %>
</div>
<div class="field">
  <%= f.label :lic_schet %><br />
  <%= f.text_field :lic_schet %>
</div>
<div class="field">
  <%= f.label :descr %><br />
  <%= f.text_field :descr %>
</div>
<div class="field">
  <%= f.label :status %><br />
  <%= f.select(:status, options_for_select([['Приостановлен', 0], ['Активен', 1]], f.object.status)) %>
</div>