<%= render 'shared/error_messages', :object => f.object %>
<div class="control-group">
  <div class="control-label">
    <%= f.label :name %>
  </div>
  <div class="controls">
    <%= f.text_field :name %>
  </div>
</div>
<div class="control-group">
  <div class="control-label">
    <%= f.label :dogovor %>
  </div>
  <div class="controls">
    <%= f.text_field :dogovor %>
  </div>
</div>
<div class="control-group">
  <div class="control-label">
    <%= f.label :lic_schet %>
  </div>
  <div class="controls">
    <%= f.text_field :lic_schet %>
  </div>
</div>
<div class="control-group">
  <div class="control-label">
    <%= f.label :descr %>
  </div>
  <div class="controls">
    <%= f.text_area :descr, :rows => "3" %>
  </div>
</div>
<div class="control-group">
  <div class="control-label">
    <%= f.label :status %>
  </div>
  <div class="controls">
    <%= f.select(:status, options_for_select([['Приостановлен', 0], ['Активен', 1]], f.object.status)) %>
  </div>
</div>