<table>
  <tr>
      <th>Наименование:</th> <td><%= @client.name %></td>
  </tr>
  <tr>
      <th>Договор:</th> <td><%= @client.dogovor %></td>
  </tr>
  <tr>
      <th>Лицевой счет:</th> <td><%= @client.lic_schet %></td>
  </tr>
  <tr>
      <th>Статус:</th> <td><%= @client.status %></td>
  </tr>
  <tr>
      <th>Описание:</th> <td><%= @client.descr %></td>
  </tr>
</table>